/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;}


a {
    text-decoration: none; color:black;
}


a:visited {
    text-decoration:none;
}


h1{
    margin:0px;
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;
}


h2{
    margin:0px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
}


h3{
    margin:0px;
}


p {
    margin:0;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
}


.fa-solid {
    color: var(--main-color);
}


.neutral-star{
    color: var(--filter-bg-color)
}


body { 
    display: flex;
    flex-direction: column;
    margin:auto;
    max-width: 1440px;
}





/****** HEADER ***********/

.logo-et-menu{ 
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    margin:auto;
    margin-bottom: 35px;
}


.logo-container{ 
    padding: 30px 50px 30px 50px;
}
    

.header-logo-picture{
    width: 61px;
    height: 19px;
    object-fit: contain;
}


nav{
    padding: 0px 25px;
    box-sizing: border-box;
}


ul{ 
    display:flex;
    padding:0;
    justify-content: space-between;
    margin: 0px;
    gap:68px;
}
    

.menu-btns{
    display:flex;
}


.menu-btns a{
    height:35px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
}
li a:hover {color:#0065FC;}
li a:hover .menu-btns-bluebar{background-color:#0065FC;}


.menu-btns-text{
    height: 19px;
}   


.menu-btns-bluebar{
    background-color: transparent;
    height:2px;
}
.currentlink .menu-btns-bluebar{background-color: #0065FC;}


.section-title {
    margin: 0;
    font-size: 22px;
}


.euro {
    font-weight: 700;
}


.neutralStar {
    color: var(--main-bg-color)
}


/****** MAIN ******/

.main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    padding: 0 50px;
    margin:auto;
    box-sizing: border-box;
    gap:35px;
}


main{
    display: flex;
    flex-direction: column;
    gap:35px;
}


/****** INFO GROUP ******/

.InfoGroup{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap:35px;
}


.headlines{
    display: flex;
    flex-direction: column;
    gap:8px;
}


.searchbar-container{
    display: flex;
}


.searchbar-loc-btn{  
    width:50px;
    height:49px;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
    border:1px solid #F2F2F2
}
.searchbar-loc-btn:hover{
    background-color: #e0e0e0;}
.searchbar-loc-btn:active{
    background-color: #c5d9ff;}


.searchtext{    
    font-size:18px;
    font-weight: 700;
    line-height: 21.13px;
    text-align: center;
    border: 1px solid #F2F2F2;
    height:49px;
    width: 100%;
}               


.searchbar-search-btn{
    height:49px;
    border-radius: 0px 15px 15px 0;
    background-color: #0065FC;
    border:1px solid #0065FC;
    font-weight: 700;
    font-size: 18px;
    color:white;
    padding: 15px 16px;
}
.searchbar-search-btn:hover{
    background-color: #3686ff;}
.searchbar-search-btn:active{
    background-color: #0251c7;}


.searchbar-search-btn h3 {}

.searchbar-search-btn i {
    display: none;
}


.filters-container{
    display: flex;
    align-items: center;
    gap:15px;
    flex-wrap: wrap;
}
 

.filtres-btns-row{
    display: flex;
    gap:15px;
}


.filters-container button{    
    border:2px solid #D9D9D9;
    border-radius: 25px;

    background-color: white;

    font-size: 17px;
    font-weight: 700;
    line-height: 19.96px;

    display: flex;
    gap:10px;
    align-items: center;

    padding:12px 19px;
}
.filters-container button:hover{  
    background-color: #DEEBFF;}


.infobar{   
    height:24px;            
    font-weight: 400;        
    font-size: 16px;
    line-height: 17.78px;
    display: flex;
    align-items: center;
    gap:10px;
}


.infobar-picto{ 
    border: 1px solid #D9D9D9;
    border-radius: 50%; 
    font-size:10px;
    padding:2px 10px;
    height: 24px;
    width: 24px;
    box-sizing: border-box;
}


/****** hebergements-container And Populaires ***********/
.card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
    border:5px solid white;
    box-sizing: border-box;
}


.card-title {
    font-size: 16px;
}


.hebergements-populaires-container {
    display: flex;
    justify-content: space-between;
}


.hebergements-populaires-container section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}





/****** hebergements ***********/
.hebergements-container {
    width: 65%;
    height: 614px;
    font-family: Helvetica;
    font-size: 1.4em;
    color: rgb(0, 0, 0);
    display:flex;
    flex-direction: column;
    gap:30px;
    padding: 30px;
    background-color: var(--main-bg-color);
}


.cardrow{
    display:flex;
    gap:30px;
    justify-content: space-between;
    width: 100%;
}
.cardrow a {
    width: 30%;
}

.hebergements-container .card{
    width: 100%;
    height: 197.25px;
    padding:0px 0px 15px 0px;
}
    

.hebergements-container .card img{
    width: 100%;
    height:124px;
    border-radius: 20px 20px 0px 0px;
}


.hebergements-container .card-content{
    height: 65.25px;
    display: flex;
    flex-direction: column;
    gap:8px;
    justify-content: space-between;
    padding:0px 15px;
}


.hebergements-container .card-txt{
    display:flex;
    flex-direction: column;
    gap:8px;
    justify-content: space-between;
    height: 64.25px;
}


.hebergements-container .card-title{
    margin:0px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.78px;
}


.hebergements-container .card-subtitle{
    font-size: 14px;
    font-weight: 400;
    line-height: 16.44px;
    margin:0px;}


.hebergements-container .card-rating{
    font-size:13.25px;
}


.afficher-plus{
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
    margin:0px;
}



/****** Populaires ***********/
.Populaires-container {
    width: 32%;
    display: flex;
    flex-direction: column;
    gap:30px;
    background-color: var(--main-bg-color);
}


.populaires-cards{
    display: flex;
    flex-direction: column;
    gap:30px;
}


.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.populaires-cards .card {
    display: flex;
    height: 146px;
    width:100%;
}



.populaires-cards img {
    width: 33%;
    height: 146px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}


.populaires-cards .card-content {
    width: 67%;
    padding: 10px 10px 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}


.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}


.populaires-cards .card-subtitle {
    margin: 0;
}


.populaires-cards .card-rating {
    margin-bottom: 5px;
}









/***** ACTIVITÉS *****/

.activites{
    padding:30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.activitesrow{ 
    display: flex;
    gap:30px;
}


.activitesrow .act-card{
    width: 24%;
    box-sizing: border-box;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    display: flex;
    flex-direction: column;
}


.activitesrow .act-card img{
    object-fit:cover ;
    width: 100%;
    height:380px;
    border-radius: 20px 20px 0px 0px;
}


.activitesrow .act-card-content{
    padding: 20px 19px 20px 19px;
    margin-top: auto;
    margin-bottom: auto;
}






/*******FOOTER******/

footer{
    display:flex;
    padding:20px;
    background-color: #F2F2F2;
}


footer a {
    margin:0px;
    font-size: 16px;
    line-height: 18.78px;
}
footer a:hover{
    color:#0065FC;
}


.footercolumn{
    width:100%;
    display:flex;
    flex-direction: column;
    gap:15px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1100px) */
@media ( max-width: 1100px) {
   
    .hebergements-container .card-title{
        font-size: 14px;
    }

    .hebergements-container .card-subtitle{
        font-size: 12px;
    }
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
   
.filters-container{
    flex-direction: column;
    align-items: baseline;
}


.filters-container button{
    font-size: 16px;
}


.hebergements-populaires-container {
    flex-direction: column;
    gap:50px;
}


.hebergements-populaires-container section{
    padding:30px;
    gap:30px;
    border-radius: 15px;
}


.Populaires-container {
    width: 100%;
    gap:15px;
}


.populaires-cards{
    display: flex;
    flex-direction: row;
    gap:20px;
}

.populaires-cards a {
    width:30%
}

.populaires-cards p{
    font-size: 14px;
}


.hebergements-container {
    width: 100%;
    height: auto;
    font-size: 1.4em;
    display:flex;
    gap:15px;
}


.cardrow{
    display:flex;
    gap:30px;
    justify-content: flex-start;
    width: 100%;
}


.hebergements-container .card{
    width: 100%;
    height: auto;
    padding:0px 0px 15px 0px;
}

.hebergements-container .card-title{
    font-size: 16px;
}

.hebergements-container .card-subtitle{
    font-size: 14px;
}

.activitesrow .act-card img{
height:200px;
}
}



/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {

.main-container{
        min-width: 320px;
        padding: 0px;
    }

.card {
        background-color: white;
        border-radius: 20px;
    }


.logo-et-menu{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:auto;
    margin-bottom: 35px;
}


.logo-container{ 
    padding: 30px ;
}
    

.header-logo-picture{
    width: 61px;
    height: 19px;
    object-fit: contain;
}


nav{
    padding: 0px;
    box-sizing: border-box;
    width: 100%;
}

ul{ 
    display:flex;
    padding:0;
    margin: 0px;
    gap:0px;
}
    

.menu-btns{
    display:flex;
    width: 50%;}


.menu-btns a{
    height:35px;
    display: flex;
    flex-direction: column-reverse;
    gap: 14px;
    width: 100%;
    text-align: center;
}


.menu-btns-bluebar{
    background-color: #F2F2F2;
    height:2px;
}


.InfoGroup{
    gap:35px;
    padding:0px 20px;
}


.searchbar-loc-btn:hover{
    background-color: #e0e0e0;}
        

.searchbar-loc-btn:active{
    background-color: #c5d9ff;}


.searchbar-search-btn-text { 
    display:none
}


.searchbar-search-btn i {
    display:initial;
}


.filters-container{
    flex-direction: column;
    display: flex;
    align-items:baseline;
    gap:20px;
    }


.filtres-btns-row{
    gap:10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}


.filters-container button{
    font-size: 14px;
    font-weight: 700;
    line-height: 16.44px;
    width:48%;
}


.infobar{   
    height:24px;            
    font-weight: 400;        
    font-size: 16px;
    line-height: 17.78px;
    display: flex;
    align-items: center;
    gap:10px;
}


.infopicto{ 
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    font-size:10px;
    padding:3px 10px;
}


.hebergements-populaires-container {
    flex-direction: column-reverse;
}


.hebergements-populaires-container section{
    border-radius: 00px;
    padding:30px 20px;
}


.Populaires-container {
    width: 100%;
    gap:15px;
}


.populaires-cards{
    display: flex;
    flex-direction: column;
    gap:15px;
}


.populaires-cards a {
    width:100%
}


.hebergements-container {
    width: 100%;
    height: auto;
    font-size: 1.4em;
    display:flex;
    flex-direction: column;
    gap:15px;
    background-color: rgb(255, 255, 255);
}


.cardrow{
    display:flex;
    flex-direction: column;
    gap:15px;
    justify-content: flex-start;
    width: 100%;
}

.cardrow a {
    width: 100%;
}


.hebergements-container .card{
    width: 100%;
    height: auto;
    padding:0px 0px 15px 0px;
}


.activites{
        padding:30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }


.activitesrow{ 
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap:15px;
}


.activitesrow .act-card{
    width: 100%;
}


.activitesrow .act-card img{
    height:141px;
}


footer{
    display:flex;
    flex-direction: column;
    gap: 50px;
    padding:30px;}
}