/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

a {text-decoration: none; color:black;}
a:visited {text-decoration:none;}

h1{
    margin:0px;
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;
}

h2{
    margin:0px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
}

h3{
    margin:0px;
}
p {
    margin:0;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px; }




.fa-solid {
    color: var(--main-color);
}

body { 
    display: flex;
    flex-direction: column;
    margin:auto;
    max-width: 1440px;
}

.main-container{
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    margin:auto;
    box-sizing: border-box;
}

/****** Header ***********/
.logo-et-categories{ 
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    margin:auto;
    margin-bottom: 35px;
}


.header-logo-container{ 
    padding: 30px 50px 30px 50px;
}
    

.header-logo-picture{
    width: 61px;
    height: 19px;
    object-fit: contain;

}


nav{
    padding: 0px 25px;
    box-sizing: border-box;
}

ul{ 
    display:flex;
    padding:0;
    justify-content: space-between;
    margin: 0px;
    gap:68px;
}
    

.headerboutons{
    display:flex;
}

.headerboutons a{
    height:35px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;

}

.boutonHebergementText{
    height: 19px;}
    

.bluebar{
    background-color: transparent;
    height:2px;
}

li a:hover .bluebar{
    background-color:#0065FC;
}
li a:hover {
    color:#0065FC;
}

li {
    font-size: 16px;
    color:black;
}




.currentlink .boutonHebergementText{
    color: #0065FC;
}
.currentlink .bluebar{
    background-color: #0065FC;
}

.boutonActivite a{  
    height: 35px;
    display:flex;
    flex-direction: column;
    gap:14px;
}

.boutonActiviteText{
    height:19px;
}




.section-title {
    margin: 0;
    font-size: 22px;
}



.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Info Group ******/

.InfoGroup{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
    gap:35px;
}


.Headline{
    display: flex;
    flex-direction: column;
    gap:8px;
}



.BarDeRecherche{
    display: flex;
}


.localisation{  
    width:50px;
    height:49px;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
    border:1px solid #F2F2F2
}

.localisation:hover{
    background-color: #e0e0e0;
}
        
.localisation:active{
    background-color: #c5d9ff;
}


.searchtext{    
    font-size:18px;
    font-weight: 700;
    line-height: 21.13px;
    text-align: center;
    border: 1px solid #F2F2F2;
    height:49px;
}               


.searchbutton{
    height:49px;
    border-radius: 0px 15px 15px 0;
    background-color: #0065FC;
    border:1px solid #0065FC;
    padding: 15px 16px;
}
.searchbutton:hover{
    background-color: #3686ff;
}
.searchbutton:active{
    background-color: #0251c7;
}

.searchbutton p {font-weight: 700;
    font-size: 18px;
    color:white;}

.searchbutton i {
    display: none;
}

.filtres{
    display: flex;
    align-items: center;
    gap:15px;
    outline: 1px solid salmon;
    flex-wrap: wrap;
}




.filtres button{    
    border:2px solid #D9D9D9;
    border-radius: 25px;
    background-color: white;
    font-size: 17px;
    font-weight: 700;
    line-height: 19.96px;
    display: flex;
    gap:10px;
    align-items: center;
    justify-content: center;
}
.filtres button:hover{  
    background-color: #DEEBFF;
}


.filterButton{
    padding:10px 19px;
    display: flex;
}


.infobar{   
    height:24px;            
    font-weight: 400;        
    font-size: 16px;
    line-height: 17.78px;
    display: flex;
    align-items: center;
    gap:10px;
}

.infopicto{ 
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    font-size:10px;
    padding:3px 10px;
}


/****** Hebergements And Populaires ***********/
.card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    
}

.card img {
    object-fit: cover;
    border:5px solid white;
    box-sizing: border-box;

}

.card-title {
    font-size: 16px;
}


.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    height: 614px;
    font-family: Helvetica;
    font-size: 1.4em;
    color: rgb(0, 0, 0);
    display:flex;
    flex-direction: column;
    gap:30px;
    padding: 30px;
}

.cardrow{
    display:flex;
    gap:30px;
    justify-content: space-between;
    width: 100%;
}



.hebergements .card{
    width: 30%;
    height: 197.25px;
    padding:0px 0px 15px 0px;
}

.hebergements .card img{
    width: 100%;
    height:124px;
    border-radius: 20px 20px 0px 0px;
}

.hebergements .card-content{
    height: 65.25px;
    display: flex;
    flex-direction: column;
    gap:8px;
    justify-content: space-between;
    padding:0px 15px;
}

.hebergements .card-txt{
    display:flex;
    flex-direction: column;
    gap:8px;
    justify-content: space-between;
    height: 64.25px;
}

.hebergements .card-title{
    margin:0px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.78px;
}

.hebergements .card-subtitle{
    font-size: 14px;
    font-weight: 400;
    line-height: 16.44px;
    margin:0px;
}

    .hebergements .card-rating{
    font-size:13.25px;
}

.afficher-plus{
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
    margin:0px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding: 10px 10px 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    outline: 1px solid red;;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/***** ACTIVITÉS *****/

.activites{
    padding:30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.activitesrow{ 
    margin-top: 30px;
    display: flex;
    gap:30px;
}

.activitesrow .act-card{
    width: 24%;
    box-sizing: border-box;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    display: flex;
    flex-direction: column;
}

.activitesrow .act-card img{
    object-fit:cover ;
    width: 100%;
    height:380px;
    border-radius: 20px 20px 0px 0px;
}

.activitesrow .act-card-content{
    padding: 20px 19px 20px 19px;
    margin-top: auto;
    margin-bottom: auto;
}


/*******FOOTER******/

footer{
    display:flex;
    padding:20px;
    background-color: #F2F2F2;
}

footer a {
    margin:0px;
    font-size: 16px;
    line-height: 18.78px;
}
footer a:hover{
    color:#0065FC;
}

.footercolumn{
    width:100%;
    display:flex;
    flex-direction: column;
    gap:15px;
}









/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activitesrow .act-card img{
        height:200px;
        object-fit: fill;
        }

    .activitesrow .act-card-content{
        min-height:30px;
    }




}



/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container{
        width: 100%;
        max-width: 1440px;
        padding: 0 20px;
        margin:auto;
        box-sizing: border-box;
    }






    /****** Small devices (phones, less than 768px) ----- Header ***********/
.logo-et-categories{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:auto;
    margin-bottom: 35px;
}


.header-logo-container{ 
    padding: 30px ;
}
    

.header-logo-picture{
    width: 61px;
    height: 19px;
    object-fit: contain;

}


nav{
    padding: 0px;
    box-sizing: border-box;
    width: 100%;
}

ul{ 
    display:flex;
    padding:0;
    margin: 0px;
    gap:0px;

   
}
    

.headerboutons{
    display:flex;
    width: 50%;

}

.headerboutons a{
    height:35px;
    display: flex;
    flex-direction: column-reverse;
    gap: 14px;
    width: 100%;
    text-align: center;

}
.bluebar{
    background-color: #F2F2F2;
    height:2px;
}








/******Small devices (phones, less than 768px ---- Info Group ******/

.InfoGroup{
    gap:35px;
}


.BarDeRecherche{
    display: flex;
}


.localisation{  
    width:50px;
    height:49px;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
    border:1px solid #F2F2F2
}

.localisation:hover{
    background-color: #e0e0e0;
}
        
.localisation:active{
    background-color: #c5d9ff;
}


.searchbutton p { 
    display:none; 
}
.searchbutton i {
    display:initial;
}

.filtres h2{margin-right: 600px;
}

.filtres button{
    font-size: 14px;
    font-weight: 700;
    line-height: 16.44px;
}





.infobar{   
    height:24px;            
    font-weight: 400;        
    font-size: 16px;
    line-height: 17.78px;
    display: flex;
    align-items: center;
    gap:10px;
}

.infopicto{ 
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    font-size:10px;
    padding:3px 10px;
}
}